﻿@model IEnumerable<Xmas.Areas.Membre.Models.GroupModel>

@{
    ViewBag.Title = "Admin";
}

<h2>Les groupes dont je suis Administrateur</h2>

<p>
    @Html.ActionLink("Nouveau Groupe", "Create", new { controller="Group" }, new { @class="btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdGroupe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomEvenement)
        </th>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdGroupe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomEvenement)
        </td>
        
    </tr>
}

</table>
